{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    <!-- {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }} -->
  </footer>

  {{- if (.Param "ShowComments") }}
  {{- if .Site.Params.giscus.repo }}
  <div class="container_disqus" style="margin: 30px 0px 0px 0px;">
      <script src="https://giscus.app/client.js"
          data-repo={{ .Site.Params.giscus.repo }}
          data-repo-id={{ .Site.Params.giscus.repoId }}
          data-category={{ .Site.Params.giscus.category }}
          data-category-id={{ .Site.Params.giscus.categoryId }}
          data-mapping={{ .Site.Params.giscus.mapping }}
          data-reactions-enabled={{ .Site.Params.giscus.reactions_enabled | default 1 }}
          data-emit-metadata={{ .Site.Params.giscus.emit_metadata | default 0 }}
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="ko"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
      </script>
  </div>
  <script async>
      document.querySelector("div.container_disqus > script").setAttribute('data-theme', localStorage.getItem('pref-theme') ? localStorage.getItem('pref-theme') : (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
  
      document.querySelector('#theme-toggle').addEventListener('click', () => {
          let g = document.querySelector('iframe.giscus-frame')
          if (g) {
              g.contentWindow.postMessage({
                  giscus: {
                      setConfig: {
                          theme: localStorage.getItem('pref-theme') ? ((localStorage.getItem('pref-theme') === 'dark') ? 'light': 'dark') : (document.body.className.includes("dark") ? 'light' : 'dark')
                      }
                  }
              }, 'https://giscus.app');
          }
      })
  </script>
  
  {{- end }}
  {{- end }}

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
